body {
  background-color: aliceblue;
}

.custom-order {
  border-radius: 10px;
  padding: 10px;
  background-color: #1971c2;
  color: white;
}

.checkout-section {
    border-radius: 10px;
    padding: 10px;
    background-color: #3b3f42;
    color: white;
}
